// Colour Names
$colorBlack: #0c0c0c;
$colorYellow: #ffe003;
$colorRed: #bf0000;
$colorMediumGrey: #ccc;

// Colour Uses
$colorFieldBorder: $colorMediumGrey;
$colorFieldBorderError: $colorRed;

$colorFieldErrorText: $colorRed;
