@import '../../sass/variables/colours';

.textField {
	margin: 0 0 1em;
	max-width: 300px;

	label {
		display: block;
		margin: 0 0 .5em;
	}

	input {
		border: 1px solid $colorFieldBorder;
		border-radius: 5px;
		box-sizing: border-box;
		font-size: 1em;
		padding: .5em 1em;
		transition: border-color .5s;
		width: 100%;
	}
}

// Components
.textField-errorMessage {
	color: $colorFieldErrorText;
}

// States
.textField-hasError {
	input {
		border: 3px solid $colorFieldBorderError;
		padding: calc(.5em - 2px) calc(1em - 2px);
	}
}
