@import '../../sass/variables/colours';

.textField {
	margin: 0 0 1em;

	label {
		display: block;
		margin: 0 0 .5em;
	}

	input {
		border: 1px solid $colorFieldBorder;
		border-radius: 10px;
		font-size: 1em;
		padding: .5em 1em;
	}
}
